<div class="bg-light pt-3">
  <div class="alert alert-success mx-5 mb-0" role="alert" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="row d-flex justify-content-between align-items-center">
      <h4 class="alert-heading col" th:text="|#{success.header}!|"></h4>
      <button type="button" class="btn-close me-3" data-bs-dismiss="alert" aria-label="Close"></button>
    </header>
    <p>
      <span th:text="#{success.message_start}"></span>
      <strong th:text="${savedProductName}"></strong>
      <span th:text="#{success.message_end}"></span>!
    </p>
    <hr>
  </div>
</div>
